.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
}

.dialogitems .activ {
  color: gold;
}

.messages {
  padding: 10px;
}
.messages .message {
  padding: 10px;
}
